<html>
  <head lang="en">
    <meta charset="UTF-8">
    <title>SIGS-dev-app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      code {
        overflow-wrap: break-word;
      }
    </style>
    <!-- scripts -->
    <script src="https://unpkg.com/adaptivecards/dist/adaptivecards.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.1.0/react-dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>Auto-capture-signals card</h1>
      <div id="adaptivecards"></div>
      <pre><div id="signal"></div></pre>
      <pre><span id=result></span></pre>
      <br>
      <pre><code>Bearer <span id="token">{{token}}</span></code></pre>
    </div>

    <!-- scripts -->
    <script type="text/jsx" src="{{ url_for('static', filename='httpaction.js') }}"></script>
    <script type="text/jsx" src="{{ url_for('static', filename='sigscard.js') }}"></script>
  </body>
</html>